.current-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        display: flex;
        align-items: center;
        font-weight: 500;

        .t1 {
            color: white;
            font-size: 60px;
            padding-right: 10px;
        }

        .t2 {
            color: var(--main-color);
            font-size: 60px;
        }

        .t3 {
            color: white;
            font-size: 60px;
            padding-left: 10px;
        }
    }


    .btn{
        margin-top: -1rem;
        padding-left: 0.5rem;

        .cur-btn {
            width: 130px;
            height: 30px;
            border: 1px;
            border-radius: 20px;
            background-color: var(--main-color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            color: white;
            cursor: pointer;
            
            .cur-i {
                font-size: 25px;
                padding-right: 3px;
            }
        }

    }
    
}

@media screen and (min-width: 1200px) {
    .current-container {
        padding-top: 2rem;

        .t1 {
            font-size: 40px;
        }

        .sec {
            flex-direction: row;

            .t2 {
                font-size: 45px;
            }

            .t3 {
                font-size: 30px;
                padding-left: 20px;
                margin-top: 0;
            }
        }

        .cur-btn {
            width: 12rem;
            height: 45px;
            font-size: 1.2rem;
            margin-top: 1.5rem;

            .cur-i {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .current-container {
        .t1 {
            padding-left: 2rem;
            font-size: 40px;
        }

        .sec {
            flex-direction: row;
            padding-left: 1rem;

            .t2 {
                font-size: 50px;
            }

            .t3 {
                font-size: 30px;
                padding-left: 20px;
                margin-top: 5px;
            }
        }

        .cur-btn {
            width: 10rem;
            height: 40px;
            font-size: 1rem;
            margin-top: 1.5rem;

            .cur-i {
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .current-container {

        .t1 {
            font-size: 20px;
        }

        .sec {
            flex-direction: column;

            .t2 {
                font-size: 30px;
            }

            .t3 {
                font-size: 20px;
                padding-left: 0;
                margin-top: 5px;
            }
        }

        .cur-btn {
            width: 7rem;
            height: 30px;
            font-size: 0.7rem;
            margin-top: 0.5rem;

            .cur-i {
                font-size: 15spx;
            }
        }
    }
}