.current-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;

    .t1{
        color: white;
        font-size: 28px;
    }

    .sec{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .t2{
            font-size: 33px;
        }
        .t3{
            font-size: 28px;
        }
       
    }
    
    .cur-btn{
        width: 10rem;
        height: 2rem;
        border: 1px;
        border-radius: 20px;
        background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
    
    }
}

