@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

 :root{
   --main-color:#fe7000;
 }

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1.6;
   font-family: 'Noto Sans JP', sans-serif;
}

body {
   overflow: hidden;
   
}

.Input{
   padding: 20px 50px;
}

.Search-container {
   display: flex;
   flex-direction: row;
}


